<!DOCTYPE html>
<html ng-app = "webApp">
<head>
<title>Niall Shannon</title>
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" type="text/css" href="style/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style/css/custom.css">

</head>
<body>
	<div class = "wrapper">
	
	 <div class="container">
      
	   	<div class ="logo-container" ng-controller="viewController as view" ng-init="view.setView(0)"> 	   	
	   		<a href="#"><img class="logo" alt="Niall Shannon" src="style/images/logo.jpg"></img></a>
	   	</div>
	   	
	   	<div class="mobile-navbar"><a href="#" id="menu-icon" ng-click="alert('button clicked')"></a></div><!-- for mobile navbar -->
	   	
   		<div class="nav-menu">
   			<ul id="navigation-dom">
	        <li><a ng-click="view.setView(1)" href="#">Expertise</a></li>
	        <li><a ng-click="view.setView(2)" href="#">Projects</a></li>
	        <li><a ng-click="view.setView(3)" href="#">Downloads</a></li>
	        <li><a ng-click="view.setView(4)" href="#">About</a></li>
	        <li><a ng-click="view.setView(5)" href="#">Contact</a></li>
	      </ul>
   		</div>	  
   		
   		<hr class="black-border"/>    
      
     <!-- 
     
     <section ng-controller="TabController as panel" ng-init="panel.setTab(1)">
                <ul class="nav nav-pills">
                    <li ng-class="{active:panel.isSet(1)}">
                        <a href ng-click="panel.setTab(1)">Description</a>
                    </li>
                    <li ng-class="{active:panel.isSet(2)}">
                        <a href ng-click="panel.setTab(2)">Specifications</a>
                    </li>
                    <li ng-class="{active:panel.isSet(3)}">
                        <a href ng-click="panel.setTab(3)">Reviews</a>
                    </li>
                </ul>
                <div class="panel" ng-show="panel.isSet(1)">
                    <product-description></product-description>
                </div>
                <div class="panel" ng-show="panel.isSet(2)">
                    <product-specifications></product-specifications>
                </div>
                <div class="panel" ng-show="panel.isSet(3)">
                    <product-ratings></product-ratings>
                </div>
        </div>
        </section>

 	 -->
	    
		  
		   
		   <h1>This is some test content</h1>
			
			<h3> blablabla</h3>
			<p>babab asdasd asdfasdfsadf babab asdasd asdfasdfsadf babab asdasd asdfasdfsadf babab asdasd asdfasdfsadf babab asdasd asdfasdfsadf </p>
			
			
			<h3> blablabla</h3>
			<p>babab asdasd asdfasdfsadf babab asdasd asdfasdfsadf babab asdasd asdfasdfsadf babab asdasd asdfasdfsadf babab asdasd asdfasdfsadf </p>
			
			
			<h3> blablabla</h3>
			<p>babab asdasd asdfasdfsadf babab asdasd asdfasdfsadf babab asdasd asdfasdfsadf babab asdasd asdfasdfsadf babab asdasd asdfasdfsadf </p>
			
			
			<h3> blablabla</h3>
			<p>babab asdasd asdfasdfsadf babab asdasd asdfasdfsadf babab asdasd asdfasdfsadf babab asdasd asdfasdfsadf babab asdasd asdfasdfsadf </p>


		    </div> <!-- /container -->
	    
		<div class="push"></div>
	</div>	
		<!-- sticky footer madness -->
		<div class="custom-footer">	
			<p class="footerText">&copy; <a href="index.html">Niall Shannon</a> 2015</p>	
		</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="main.js"></script>
<script src="expertise.js"></script>
</html>